<div class="content">

    <mat-card class="card" *ngFor="let element of Tweezes">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image">
                <img class="avatar" src="{{element.profile_picture}}" alt="Avatar" (click)="goToProfile(element.user_id)"> 
            </div>
            
          <mat-card-title>{{element.username}}</mat-card-title>
          <mat-card-subtitle> {{element.created_at.seconds * 1000 | date:'dd-MM-yyyy, hh:mmaa' }} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p class="tweez-text">
              {{element.content}}
            </p>
            <div class="picture" *ngIf="element.image!=''">
              <img mat-card-image src="{{element.image}}" >
            </div>
            
        </mat-card-content>
        
        
        <mat-card-actions>

            <button mat-button color="primary" class="button" *ngIf="element.user_liked.includes(user.username); else notLiked"> 
              <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="unLikeTweez(element.id)">favorite</mat-icon>
              {{element.likes}}
            </button>
          
          <ng-template #notLiked>
            <button mat-button color="secondary" class="button"> 
              <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="likeTweez(element.id)">favorite_border</mat-icon>
              {{element.likes}}
            </button>
          </ng-template>
          
          <button mat-button color="secondary" class="button"> 
            <mat-icon aria-hidden="false" aria-label="Example home icon">share</mat-icon>
          </button>
        </mat-card-actions>
    </mat-card>
      
    

</div>