


<div class="container">

  <!-- Left menu with all buttons -->
  <div class="left-menu"  *ngIf="!hasRoute('login')">

    <h1>Tweezer {{router_url}}</h1>

    <div class="buttons">
      <button mat-button color="secondary" class="button" (click)="goToHome()"> 
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        Home
      </button>
  
      <button mat-button color="secondary" class="button" (click)="goToProfile()"> 
        <mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon>
        Profile
      </button>
  
      <button mat-button color="secondary" class="button" (click)="goToLogin()"> 
        <mat-icon aria-hidden="false" aria-label="Example home icon">logout</mat-icon>
        Log out
      </button>      
    </div>

    
    <button class="big-button" mat-flat-button color="primary" (click)="openDialog()">
      Tweez!
    </button>

  
    

  </div>

  <!-- Central page changing -->
  <div class="main">

      <!-- if in home -->
    <mat-toolbar class="toolbar" *ngIf="isHome">  
      <button mat-button color="secondary" class="button"> 
          <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
          Home
        </button>
  
      <span class="spacer"></span>
  
      <img class="avatar" src="https://firebasestorage.googleapis.com/v0/b/tweezer-ecam.appspot.com/o/profiles%2FProfile%20pictures%2Fernest.jpg?alt=media&token=b9360a98-5a5a-4c2b-8c63-1ed1d6916c43" alt="Avatar"> 
  
  </mat-toolbar>

  <!-- if in profile -->
  <mat-toolbar class="toolbar" *ngIf="isProfile">
    
    <button mat-button color="secondary" class="button" (click)="goToHome()"> 
        <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_back</mat-icon>
      </button>
    <span>Profile name</span>


  </mat-toolbar>
  
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>

    
  </div>


  <!-- Right menu with search bar and result list -->
  <div class="right-menu"  *ngIf="!hasRoute('login')">


    <form class="search-form">

      <mat-form-field class="search-full-width" appearance="outline" >
        <mat-label>Search a user</mat-label>
        <span matPrefix><mat-icon aria-hidden="false" aria-label="search icon">search</mat-icon></span>
        <input type="text"
               placeholder="Eel on Musk"
               aria-label="Search"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
        
      </mat-form-field>
    </form>
    
    

    
    
  
  </div>


</div>




