


<div class="container">

  <!-- Left menu with all buttons -->
  <div class="left-menu"  *ngIf="!hasRoute('login')">

    <h1>Tweezer</h1>

    <div class="buttons">
      <button mat-button color="secondary" class="button" (click)="goToHome()"> 
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        Home
      </button>
  
      <button mat-button color="secondary" class="button" (click)="goToProfile(user.id)"> 
        <mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon>
        Profile
      </button>
  
      <button mat-button color="secondary" class="button" (click)="goToLogin()"> 
        <mat-icon aria-hidden="false" aria-label="Example home icon">logout</mat-icon>
        Log out
      </button>      
    </div>

    
    <button class="big-button" mat-flat-button color="primary" (click)="openDialog()">
      Tweez!
    </button>

  
    

  </div>

  <!-- Central page changing -->
  <div class="main">

      <!-- if in home -->
    <mat-toolbar class="toolbar" *ngIf="hasRoute('home')">  
      <button mat-button color="secondary" class="button" (click)="goToHome()"> 
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        Home
      </button>
  
      <span class="spacer"></span>

      <button mat-button color="secondary" (click)="goToProfile(user.id)"> 
        <img class="avatar" src="{{user['profile picture']}}" *ngIf="user !== undefined">
      </button>
          
  </mat-toolbar>

  <!-- if in profile -->
  <mat-toolbar class="toolbar" *ngIf="hasRoute('profile')">
    
    <button mat-button color="secondary" class="button" (click)="goToHome()"> 
        <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_back</mat-icon>
      </button>
    <span *ngIf="user !== undefined">{{user.username}}</span>


  </mat-toolbar>

  <!-- pages changing here -->
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>

    
  </div>


  <!-- Right menu with search bar and result list -->
  <div class="right-menu"  *ngIf="!hasRoute('login')">


    <form class="search-form">

      <mat-form-field class="search-full-width" appearance="outline" >
        <mat-label>Search a user</mat-label>
        <span matPrefix><mat-icon aria-hidden="false" aria-label="search icon">search</mat-icon></span>
        <input type="text"
               placeholder="Eel on Musk"
               aria-label="Search"
               matInput
               [formControl]="myControl"
               (keyup.enter)="searchUsers(myControl.value)">
        
      </mat-form-field>
    </form>

    <!-- search result -->
    <mat-selection-list [multiple]="false" class="search-results" *ngIf="searchedUsers!== undefined"> 
      <mat-list-option *ngFor="let element of searchedUsers" class="result-item" (click)="goToProfile(element['id'])">
        <img matListAvatar src="{{element['pic']}}" >
        <h3 matLine> {{element["name"]}} </h3>
      </mat-list-option>
    </mat-selection-list>
    
    

    
    
  
  </div>


</div>




