
/* ================== MAIN ============================= */

.container {
  display: flex;
  overflow: hidden;
  /* height: 100%; */

  /* justify-content: center; */
  align-items: top;
  /* border: 3px solid green;  */
}


/* ====================== LEFT MENU ======================  */
.left-menu{
  /* position: fixed; */
  overflow: hidden;
  /* overflow-x: hidden;
  overflow-y: hidden; */
  height: 100%;

  display: flex;
  flex: 1 1 20vh;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  
  /* overflow-y: scroll; */
  


  background-color: rgba(78, 193, 255, 0.24);
  border-radius: 15px;
  padding: 10px;
  opacity: 1;

  
  
}

.buttons{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: start;
  padding-left: 15%;
}

.big-button{
  /* flex-wrap: wrap; */
  margin-top: 5%;
  width: 80%;
  border-radius: 15px;
  /* justify-content: center; */
}


/* ================= CENTER =======================*/
.main{
  display: flex;
  flex: 1 1 60vh;
  flex-direction: column;
  padding-right: 1%;
  padding-left: 1%;

  /* height: 920px; */
  /* height: 90%; */
  /* height: 98vh;
  overflow: scroll; */
  
  /* border: solid ; */
  /* flex-wrap: wrap; */

  /* width: 10%; */
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* margin-right: -50%; */
  /* transform: translate(-50%, -50%); */
}
.main-content{
  padding-right: 2%;
  padding-left: 2%;
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.toolbar{
  background-color: rgba(78, 193, 255, 0.24);
  border-radius: 15px
}

.avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.spacer{
  flex: 1 1 auto;
}

/* ==================== RIGHT====================== */
.right-menu {
  overflow-y: hidden;
  height: 100%;
  
  /* display: flex; */
  flex: 1 1 20vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-left: 50%; */
  
  background-color: rgba(78, 193, 255, 0.24);
  border-radius: 15px;
  padding: 10px;
  opacity: 1;
  
}

.search-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.search-full-width {
  width: 100%;
}

/* .round{
  border-radius: 12px;
} */
::ng-deep .mat-form-field-outline-end {
  border-radius: 0 28px 28px 0 !important;
}
::ng-deep .mat-form-field-outline-start {
  border-radius: 28px 0 0 28px !important;
  min-width: 28px !important;
}

.result-item{
  /* border: 1px solid; */
  cursor: pointer;
}


