
<div class="content">

    
    
      <!-- User profile -->
      <mat-card class="profile-card" >

          <div class="img-container">

              <img class="background-img" mat-card-image src="{{user['profile cover']}}" alt="profile cover">
              <div class="overlay">
                  <img class="profile" src="{{user['profile picture']}}" alt="Avatar"> 
              </div>
          </div>
          
          
          <mat-card-header>
              <mat-card-title>{{user.username}}</mat-card-title>

              <span class="spacer"></span>
              <div class="edit-button" *ngIf="isMyPorfile">
                  <button mat-flat-button color="primary" class="button"> 
                      <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
                      Edit
                  </button>
              </div>
              <div class="folowing-buttons" *ngIf="!isMyPorfile">
                <button mat-stroked-button color="primary">Follow</button>
                <button mat-raised-button color="primary">Unfollow</button>
              </div>
          </mat-card-header>
          
          <mat-card-content>
              <p>
              {{user.bio}}
              </p>
              
          </mat-card-content>
          <mat-divider ></mat-divider>
          <mat-card-actions>
              <!-- if other user than itself -->
              <!-- 0 or one of them will be displayed -->
              
              <!-- if itself -->
              <div>
                  {{user.followers}} followers - {{user.following}} following
              </div>

              
              
              
          </mat-card-actions>
      </mat-card>
              
        <!-- divider between user profile and tweezes -->
        <!-- <mat-divider class="divider"></mat-divider> -->
      <mat-list>
        <!-- tweezes -->


        <mat-card class="card" *ngFor="let element of userTweezes">
          <mat-card-header>
              <div mat-card-avatar class="example-header-image">
                  <img class="avatar" src="{{element.profile_picture}}" alt="Avatar" > 
              </div>
              
            <mat-card-title>{{element.username}}</mat-card-title>
            <mat-card-subtitle> {{element.created_at.seconds * 1000 | date:'dd-MM-yyyy, hh:mmaa' }} </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
              <p class="tweez-text">
                {{element.content}}
              </p>
              <div class="picture" *ngIf="element.image!=''">
                <img mat-card-image src="{{element.image}}" >
              </div>
              
          </mat-card-content>
          
          
          <mat-card-actions>
  
              <button mat-button color="primary" class="button" *ngIf="element.user_liked.includes(user.username); else notLiked"> 
                <mat-icon aria-hidden="false" aria-label="Example home icon">favorite</mat-icon>
                {{element.likes}}
              </button>
            
            <ng-template #notLiked>
              <button mat-button color="secondary" class="button"> 
                <mat-icon aria-hidden="false" aria-label="Example home icon">favorite_border</mat-icon>
                {{element.likes}}
              </button>
            </ng-template>
            
            <button mat-button color="secondary" class="button"> 
              <mat-icon aria-hidden="false" aria-label="Example home icon">share</mat-icon>
            </button>
          </mat-card-actions>
      </mat-card>
        
    </mat-list>
      
</div>